<!-- Symbols Menu -->
<nav class="symbol-menu">
    <ul>
        <li><a href="/" title="Home"><img src="/images/menu-icons/arrow.png" alt="Home" width="32" height="32"></a></li>
        <li><a href="/gallery/prometheus/" title="Prometheus"><img src="/images/menu-icons/fire.png" alt="Prometheus" width="32" height="32"></a></li>
        <li><a href="/gallery/epimetheus/" title="Epimetheus"><img src="/images/menu-icons/moon.png" alt="Epimetheus" width="32" height="32"></a></li>
        <li><a href="/gallery/pandora/" title="Pandora"><img src="/images/menu-icons/sun.png" alt="Pandora" width="32" height="32"></a></li>
    </ul>
</nav>



<!-- Gallery Title and Description -->
<div class="gallery-header">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
</div>


<div class="image-split-container-small">
    {{ range .Params.images }}
    <div class="panel">
        <a href="{{ .link }}">
            <img src="{{ .src }}" alt="{{ .alt }}" class="panel-image">
        </a>
    </div>
    {{ end }}
</div>


