<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

<!-- Symbols Menu -->
<nav class="symbol-menu">
    <ul>
        <li><a href="/" title="Home"><img src="/images/menu-icons/arrow.png" alt="Home" width="32" height="32"></a></li>
        <li><a href="/gallery/prometheus/" title="Prometheus"><img src="/images/menu-icons/fire.png" alt="Prometheus" width="32" height="32"></a></li>
        <li><a href="/gallery/epimetheus/" title="Epimetheus"><img src="/images/menu-icons/moon.png" alt="Epimetheus" width="32" height="32"></a></li>
        <li><a href="/gallery/pandora/" title="Pandora"><img src="/images/menu-icons/sun.png" alt="Pandora" width="32" height="32"></a></li>
    </ul>
</nav>

<div class="gallery-container">
    <header class="gallery-header">
        <h1 class="gallery-title">{{ .Title }}</h1>
        <p>{{ .Params.description }}</p> <!-- This pulls the description dynamically from the front matter -->
    </header>

    <!-- Add image content here -->
</div>

</body>
</html>

