<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Default theme styles -->
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css"> <!-- Custom styles -->
</head>

<body>

<!-- Symbols Menu (excluded on homepage) -->
{{ if not (eq .RelPermalink "/") }}
<nav class="symbol-menu">
    <ul>
        <li><a href="{{ "/" | relURL }}" title="Home"><img src="/images/menu-icons/arrow.png" alt="Home" width="32" height="32"></a></li>
        <li><a href="{{ "prometheus" | relURL }}" title="Prometheus"><img src="/images/menu-icons/fire.png" alt="Prometheus" width="32" height="32"></a></li>
        <li><a href="{{ "epimetheus" | relURL }}" title="Epimetheus"><img src="/images/menu-icons/moon.png" alt="Epimetheus" width="32" height="32"></a></li>
        <li><a href="{{ "pandora" | relURL }}" title="Pandora"><img src="/images/menu-icons/sun.png" alt="Pandora" width="32" height="32"></a></li>
        <li><a href="{{ "resume" | relURL }}" title="Resume"><img src="/images/menu-icons/resume.png" alt="Resume" width="32"></a></li>
    </ul>
</nav>
{{ end }}

<!-- Main Content Based on Page Type -->
<main>
    {{ if eq .RelPermalink "/" }}
        <!-- Include specific homepage layout -->
        {{ partial "homepage" . }}
    {{ else if eq .Type "resume" }}
        <div class="resume-container">
            {{ .Content }}
        </div>
    {{ else if eq .Type "gallery" }}
        <div class="gallery-container">
            {{ .Content }}
        </div>
    {{ else }}
        <div class="default-container">
            {{ .Content }}
        </div>
    {{ end }}
</main>

<footer>
        <p>&copy; 2024 Elise Danielle Marion</p>
    </footer>
</body>
</html>

