{{ define "main" }}
<div class="gallery-container">

  <!-- Gallery Title and Introduction -->
  <header class="gallery-header">
    <h1 class="gallery-title">{{ .Title }}</h1>
    <p>Welcome to Prometheus. According to Greek myth, he formed us from clay. He took pity on us, and shared fire - an advanced resource that previously belonged soley to the gods. This Promethean pity does not extend to Victor Frankenstein as he casts his monstrous creation aside. Where can these monsters find peace? That's what I'm here to explore. This is Part I.</p>
  </header>

  <!-- Image Grid for Articles -->
  <div class="image-grid">
    <a href="/articles/a-shared-objective-building-partnerships-with-artificial-intelligence/" class="gallery-image-box">
      <img src="/images/article1.png" alt="shared objective" class="gallery-image">
      <p class="alien-romulus-2024-shared-objective">A Shared Objective: Building Partnerships with Artificial Intelligence</p>
    </a>
    <!-- Add more images here as needed -->
  </div>

</div>
{{ end }}

