<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

<nav class="symbol-menu">
    <ul>
        <li><a href="/" title="Home"><img src="/images/menu-icons/arrow.png" alt="Home" width="32" height="32"></a></li>
        <li><a href="/prometheus" title="Prometheus"><img src="/images/menu-icons/fire.png" alt="Prometheus" width="32" height="32"></a></li>
        <li><a href="/epimetheus" title="Epimetheus"><img src="/images/menu-icons/moon.png" alt="Epimetheus" width="32" height="32"></a></li>
        <li><a href="/pandora" title="Pandora"><img src="/images/menu-icons/sun.png" alt="Pandora" width="32" height="32"></a></li>
        <li><a href="/resume" title="Resume"><img src="/images/menu-icons/resume.png" alt="Resume" width="32"></a></li>
    </ul>
</nav>

<div class="page-title-container">
    <h1 class="page-title">{{ .Title }}</h1>
</div>

<main>
    <div class="resume-content">
        {{ .Content | safeHTML }}

    </div>
</main>

<footer>
    <p>&copy; 2024 Elise Danielle Marion</p>
</footer>
</body>
</html>

